---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
@import 'spoqa-colors';
@import 'reset/reset';
@import 'solarized_light.css';
@import '_variables';
@import '_type';
@import url(//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css);

// Typekit Font loader attrs
// Typekit Font loader attrs
//.wf-loading body {
//  font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
//}

.hljs {
  background: $grey-highlight-color;
}

.content ul {
  margin-left: 40px;
}
.content,
.footer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 2% 0;
}

.spoqa_intro {
  padding-top: 28px;
}

/* text style */
.post {
  p a,
  ol a,
  ul a {
    padding-right: 2px;
    &:hover {
      text-decoration: underline;
    }
  }
  blockquote p {
    padding-top: 0;
    padding-bottom: 0;
  }
  ul,
  ol {
    margin: 0 0 20px 40px;
  }
  li {
    margin: 6px 0;
    line-height: 1.9em;

    pre {
      width: calc(100% - 42px);
    }
  }
  ol li ul,
  ol li ol,
  ul li ul,
  ul li ol {
    margin: 0 0 0 40px;
  }
  dl {
    dt {
      font-weight: bold;
    }
    dd + dd {
      margin-top: 10px;
    }
  }
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  caption {
    margin: 10px;
  }
}

p code, pre code, li code, code {
  font-family: 'Hack', monospace;
  font-size: 15px;
  border-radius: 4px;
}

pre {
  border-radius: 4px;
  max-width: 960px;
  font-weight: normal;
}

// footnote
a.footnote {
  &,
  .post p &,
  .post ol &,
  .post ul & {
    margin: 0 3px;
    padding: 2px 6px 2px;
    font-size: $blog-font-size-sm;
    text-align: center;
    -webkit-text-stroke: 0.25px;
    border: 1px solid $divider-color;
    border-radius: 2px;
    -webkit-transition: 0.2s ease-out all;
    text-decoration: none;

    &:hover {
      background: $btn-default-active-bg-color;
    }
  }
}
.footnotes {
  margin-top: 60px;
  border-top: 1px solid $divider-color;

  &.post li,
  &.post li p {
    font-size: $blog-font-size-sm;
  }
}

// header
.header {
  padding: 0 5%;
}
.header-item {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.spoqa-logo-wrap {
  padding-top: 20px;
  float:left;
}
.spoqa-logo img {
  width: 110px;
  height: auto;
}
.blog-title {
  font-size: $blog-font-size-sm;
  color: $grey-text-color;
}
.atom-img {
  display: inline-block;
  width: 14px;
  height: 14px;
  cusror: pointer;
  margin: 0 10px;
  background-image: url(/images/atom.png);
  text-indent: -9999em;
}
.atom-img:hover {
  background-image: url(/images/atom-hover.png);
}

/* menu list btn */
.nav {
  display: block;
  float: right;
}
#toggle,
.toggle {
  display: none;
}
.toggle {
  z-index: 2;
}
.toggle:after {
  content: '메뉴';
  display: inline-block;
  padding: 23px 20px 16px;
  background: transparent;
  text-align: center;
  color: #fff;
  line-height: 19px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}

// Menu
.menu {
  display: inline-block;
  float: right;
}
.menu li {
  display: inline-block;

  a {
    padding: 19px 20px 15px;
    color: #fff;
    display: block;
    font-size: 14px;
    @media only screen and (max-width: 580px) {
      font-size: 17px;
      color: $text-color;
    }


    &:active,
    &.selected {
      -webkit-transition: 0.2s ease-out all;
      font-weight: 900;
      color: #fff;
    }
    &:focus,
    &:hover {
      -webkit-transition: 0.2s ease-out all;
      color: #fff;
    }
  }
}
.logo-img {
  margin-top: 10px;
  padding-right: 15px;
  vertical-align: middle;
}
.dev-blog {
  font-weight: 100;
  font-size: $blog-font-size-lg;
  color: white;
  display: inline-block;
}

/* post-authot-info (post-info로 수정하는게 의미상 맞을 듯) */

.sep {
  color: $grey-text-color;
  margin: 0 0 0 5px;
}

/* blog list */

.posts .post-author-info { /*추후에는 blog list 의 post-author-info와 blog의 post-author-info를 분리하는게 좋을 듯.*/
  margin: 0;
  text-align: left;
}
.posts .post-author-info .portrait {
  width: 85px;
  vertical-align: middle;
  border-radius: 50%;
  float: right;
  margin-left: 56px;
}
.posts li {
  border-bottom: 1px solid $divider-color;
  padding: 4% 0;
}
.list-type-none {
  list-style: none;
  margin-left: 0 !important;
}

/* pagination */

.pagination {
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;

  ol {
    display: inline-block;
    margin: 14px 24px;
  }
  li {
    display: inline-block;
  }
  li a {
    -webkit-transition: 0.2s ease-out all;
    margin: 4px 0;
    padding: 9px 14px;
    border-radius: 2px;
    font-size: $blog-font-size-sm;
    color: $text-color;
  }
  .page .current-page,
  .page .current-page:hover {
    margin: 4px 0;
    padding: 9px 14px;
    border-radius: 2px;
    font-size: $blog-font-size-sm;
    color: $text-color;
    background-color: $grey-highlight-color;
  }
  .previous a,
  .next a,
  .previous.disabled,
  .next.disabled {
    font-size: $blog-font-size-sm;
    color: $text-color;
  }
  .previous.disabled,
  .next.disabled {
    color: $text-color;
  }
  .previous,
  .next {
    padding: 1% 2%;
    border-radius: 2px;
    display: inline-block;
  }
  .previous:hover,
  .next:hover,
  .page a:hover {
    -webkit-transition: 0.2s ease-out all;
    background-color: $grey-highlight-color;
  }
}

/* blog post */
figcaption {
  text-align: center;
  font-size: $blog-font-size-sm;
  color: $grey-text-color;
  margin-bottom: 20px;
}

.post {
  h1 {
    font-size: $blog-font-size-lg;
  }

  img {
    max-width: 100%;
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.content>.post-author-info {
  margin-bottom: 5%;
  text-align: center;
  padding-bottom: 5%;
  border-bottom: 0.05em dashed #adadad;
}

.post-author-info {
  margin-bottom: 12%;
  text-align: center;

 .portrait {
    width: 10%;
    vertical-align: middle;
    border-radius: 50%;
  }
 .author-name a,
 .author-name {
    color: $text-color;
  }
}
.post-date {
  margin-bottom: 10px;
  color: $grey-text-color;
}
.post-title {
  font-size: 44px;
  margin-top: 30px;
  margin-bottom: 10px;
  color: $text-color;
}
.posts .post-title {
  margin: 0 0 5px;
  font-size: $blog-font-size-lg;
  line-height: 1.4;
}
.post-title-words{
  color: $text-color;
}
.post-description {
  margin: 18px 100px 6px 0;
  padding: 0;
}
.post-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* post-footer back btn */

.back-btn {
  margin: 30px auto;
  text-align: center;
}
.back-btn a {
  padding: 20px 80px;
  display: inline-block;
  border: 1px solid $btn-border-color;
  border-radius: 3px;
  color: $text-color;
}
.back-btn a:hover {
  background-color: $btn-default-active-bg-color;
  border-color: $btn-border-color;
}

/* blog ends */

/* about */

.post .intro-title {
  margin-top: 20px;
  padding-bottom: 12px;
  font-size: $blog-font-size-lg;
  border-bottom: 1px solid $divider-color;
}
.about p a,
.about ol a,
.about ul a {
  padding-right: 2px;
}
.author {
  overflow: auto;
  padding: 30px 0;
  border-bottom: 1px solid $divider-color;
}
.author-title {
  margin-top: 100px;
}
.author-info {
  margin-top: 3px;
  margin-left: 20%;
}
.member-info {
}
.sns a {
  margin: -5px 2px 0 0;
  vertical-align: middle;
}
.nick-name {
  margin-right: 10px;
  font-weight: bold;
}
.nick-name a {
  color: $text-color;
}
.author img {
  width: 14%;
  padding: 0;
  border-radius: 50%;
  float: left;
}
.email-icon {
  display: inline-block;
  background-image: url(/images/email-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.twitter-icon {
  display: inline-block;
  background-image: url(/images/twitter-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.facebook-icon {
  display: inline-block;
  background-image: url(/images/facebook-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.tumblr-icon {
  display: inline-block;
  background-image: url(/images/tumblr-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.dribbble-icon {
  display: inline-block;
  background-image: url(/images/dribbble-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.linkdin-icon {
  display: inline-block;
  background-image: url(/images/linkdin-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.wordpress-icon {
  display: inline-block;
  background-image: url(/images/wordpress-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.homepage-icon {
  display: inline-block;
  background-image: url(/images/homepage-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

/* footer */

.footer {
  margin-bottom: 20px;
  font-size: $blog-font-size-sm;
  color: $grey-text-color;
}
.footer a {
  color: $grey-text-color;
}
.footer a:hover {
  text-decoration: underline;
}


/* hiring banner 

.hiring-banner {
  margin-left: auto;
  margin-right: auto;
  padding: 0 5%;
  height: 430px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/hiring-imagex1.jpg);
  background-color: #fff;
  background-position: left bottom;
  -webkit-transition: 0.2s ease-out all;

}
.lt-ie9 .hiring-banner {
  background-image: url(/images/hiring-imagex1.jpg) no-repeat;
  background-position: left bottom;
}
.hiring-fixedwidth-wrap {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
}
.hiring-content {
  top: 80px;
  right: 11px;
  display: block;
  position: absolute;
 text-shadow: 0px 0px 20px rgba(248,248,246, 0.6),
              0px 0px 30px rgba(248,248,246, 0.6);
}
.hiring-title {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 100;
  line-height: 1.1em;
  color: $text-color;
  -webkit-transition: 0.2s ease-out all;
}
.hiring-subtitle {
  color: $text-color;
  font-weight: normal;
  -webkit-transition: 0.2s ease-out all;
  line-height: 1.5em;
}
.btn-job {
  margin-top: 24px;
  padding: 17px 15%;
  display: inline-block;
  border: 1px solid $primary-color;
  border-radius: 2px;
  color: $hightlight-text-color;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-transition: 0.2s ease-out all;
}
.btn-job:hover {
  color: $hightlight-text-color;
  background-color: transparent;
  border: 1px solid $primary-color;
  background-color: rgba(76, 128, 241, 0.1);
}

*/

/* responsive */
@media only screen and (max-width: 650px) {
  body {
    width: 100%;
  }
  .pagination .pages li {
    display: none;
  }
  .pagination .previous {
    float: left;
  }
  .pagination .next {
    float: right;
  }
  h1 { 
    font-size: 36px; 
  }

  header {
    height: 80px !important;
  }

  header .brand {
    width: 100%;
    clear: left;
    text-align: center;
    padding-top: 1em;
    float: none;
  }

  header nav {
    float: none;
    text-align: center;
    width: 100%;
  }

  nav a {
    padding: 5px 10px !important;
  }

  .content, .footer {
     padding: 25px;
  }

  .list-type-none li {
    padding: 8% 0;
  }
}

@media only screen and (max-width: 580px) {
  body {
    width: 100%;
    font-size: 16px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
  }
  p {
    font-size: 16px;
  }
  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .menu {
    display: none;
    margin: 10px 5% 0;
    width: 90%;
    position: absolute;
    z-index: 1;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    text-align: center;
  }
  .menu li {
    display: block;
  }
  .menu li a {
    padding: 15px 0;
    width: 100%;
  }
  .hiring-banner {
    height: 380px;
    cursor: pointer;
  }
  .hiring-content {
    top: 60px;
    right:0;
    left:0;
    margin: 0;
    text-align:center;
  }
  .hiring-title {
    font-size: $blog-font-size-lg;
  }
  .hiring-subtitle br{
    display: none;
  }
  .btn-job {
    width: 70%;
  }
  .post-author-info .portrait {
    width: 40%;
  }
  .posts .portrait {
    display: none;
  }
  .posts li {
    padding: 15% 0;
  }
  .post-title {
    margin-right: 0;
    font-size: 36px;
  }
  .pagination .pages li {
    display: none;
  }
  .post-description {
    margin-right: 0;
  }
  .back-btn a {
    padding: 20px 25%;
  }
  .list-type-none li {
    padding: 8% 0;
  }
}

@media only screen and (max-width: 360px) {
  body {
    width: 100%;
  }
  .hiring-banner {
    height: 380px;
    text-align: center;
    cursor: pointer;
  }
  .hiring-content {
    top: 60px;
    right:0; left:0;
    text-align: center;
    margin: 0;
  }
  .hiring-title {
    font-size: $blog-font-size-lg;
  }
  .btn-job {
    margin-top: 20px;
  }
}

/* for IE8 and lower */
.res-mobile {
  .header {
    height: 80px;
  }
  .menu {
    float: left;
    padding: 8px 0;
  }
  .menu li a {
    padding-left: 0;
    padding-right: 20px;
  }
  .post-title {
    margin-right: 0;
  }
  .pagination .pages li {
    display: none;
  }
  .post-description {
    margin-right: 0;
  }
  .back-btn a {
    padding: 20px 25%;
  }
  .spoqa-logo-wrap {
      float:none;
  }
  .pagination .previous {
    float: left;
  }
  .pagination .next {
    float: right;
  }
}

// job-table

.job-table {
  margin-top: 20px;
}

.job-table > thead {
  border-top: 1px solid $table-border-color;
}

.job-table > thead > tr,
.job-table > tbody > tr {
  border-bottom: 1px solid $table-border-color;
  background-color: #fff;
}

.job-table > thead > tr > th {
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  border-color: $table-border-color;
  padding: 16px;
  color: $grey-text-color;
}

.job-table > tbody > tr >td {
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  border-color: $table-border-color;
  padding: 16px 0;

  > a {
    display: inline-block;
    width: 100%;
  }
}

.job-table > tbody > tr:hover {
  background-color: white;

  >td {
    -webkit-transition: 0.2s ease-out all;
    background-color: $grey-bg-color;

    >a {
      color: $hightlight-text-color;
    }
  }
}


/* fb comment plug-in overrides */
.fb-comments > span {
  padding-top: 30px;
}

/* Adhoc post img width classes */
@media only screen and (min-width: 332px) {
  .post img {
    &.w500 {
      max-width: 500px;
    }
    &.w412 {
      max-width: 412px;
    }
    &.w513 {
      max-width: 513px;
    }
    &.w622 {
      max-width: 622px;
    }
    &.w485 {
      max-width: 485px;
    }
    &.w400 {
      max-width: 400px;
    }
    &.w600 {
      max-width: 600px;
    }
    &.w379 {
      max-width: 379px;
    }
    &.w660 {
      max-width: 660px;
    }
    &.w472 {
      max-width: 472px;
    }
    &.w332 {
      max-width: 332px;
    }
    &.w618 {
      max-width: 618px;
    }
    &.w688 {
      max-width: 688px;
    }
    &.w658 {
      max-width: 658px;
    }
    &.w419 {
      max-width: 419px;
    }
    &.w565 {
      max-width: 565px;
    }
    &.w611 {
      max-width: 611px;
    }
    &.w308 {
      max-width: 308px;
    }
  }
}

header {
  margin: auto;
  width: 80%;
  height: 50px;
  background-color: #50bc5c;
  padding: 0 10% 0 10%;
  border-bottom: 1px solid #e1e4e6;
}

header .brand {
  float: left;
  padding-top: 12px;
  display: block;
}

header .brand-logo {
  height: 25px;
}

header nav {
  float: right;
  font-size: 16px;
  font-weight: 400;
}

nav a {
  display: inline-block;
  padding: 16px 10px 10px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: #fff;
}

nav a.selected {
  -webkit-transition: 0.2s ease-out all;
  font-weight: 900;
  color: #fff;
}

.authors.author-picture {
  width: 8%;
}
.authors.author-info {
  margin-left: 14%;
}

.authors.author-info.author-bio-clear {
  margin-left: 0;
}

.content iframe, figure {
  margin: 1em 40px;
}

.content .post figure figcaption {
  margin: -25px 0 30px 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
}

iframe {
  max-width: 85% !important;
}

figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post.sns-like {
  margin-top: 100px;
}

.github-icon {
  color: #000;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 22px;
  height: 20px;
  font-size: 18px;
  padding-top: 3px;
}

.github-icon-team-list {
  color: #000;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 19px;
  height: 20px;
  font-size: 18px;
  padding-top: 3px;
  padding-left: 3px;
}