---
layout: default
---

  <div class="posts">
    <ul class="posts list-type-none">
      {% for post in paginator.posts %}
        {% if post.publish != false %}
        <li class="post-item">
          {% if post.author %}
          {% for author in site.authors %}
            {% if author.github == post.author.github %}
              {% assign authorName = author.title %}
              {% break %}
            {% endif %}
          {% endfor %}
          <div class="post-author-info">
            <a href="/authors/{{post.author.github}}">
              <img class="portrait" src="{{ site.base_url }}/images/profile/{{post.author.github}}.jpg" /></a>
              <h2 class="post-title"><a href="{{ site.base_url }}{{ post.url }}"><span class="post-title-words">{{ post.title }}</span></a></h2>
              <p class="post-description">{% if post.description %}{{ post.description }}&nbsp; {% endif %}{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
              <span class="post-date">{{ post.date | date: "%Y년 %m월 %d일" }}</span>
              <span class="sep">by</span>
            <span class="author-name"><a href="/authors/{{post.author.github}}">{{authorName}}</a></span>
          </div>
        {% endif %}


        </li>

        <div style="clear: both;"></div>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="post-pagination" class="pagination clearfix">

  {% if paginator.previous_page %}
  <p class="previous">
  {% if paginator.previous_page == 1 %}
  <a href="/">이전 페이지</a>
  {% else %}
  <a href="/page/{{paginator.previous_page}}">이전 페이지</a>
  {% endif %}
  </p>
  {% else %}
  <p class="previous disabled">
  <span>이전 페이지</span>
  </p>
  {% endif %}

  <ol class="pages">
  <li class="page">
  {% if paginator.page == 1 %}
  <span class="current-page">1</span>
  {% else %}
  <a href="/">1</a>
  {% endif %}
  </li>

  {% for count in (2..paginator.total_pages) %}
  <li class="page">
  {% if count == paginator.page %}
  <span class="current-page">{{count}}</span>
  {% else %}
  <a href="/page/{{count}}">{{count}}</a>
  {% endif %}
  </li>
  {% endfor %}
  </ol>

  {% if paginator.next_page %}
  <p class="next">
  <a href="/page/{{paginator.next_page}}">다음 페이지</a>
  </p>
  {% else %}
  <p class="next disabled">
  <span>다음 페이지</span>
  </p>
  {% endif %}

  </div>
