---
layout: default
---

{% if page.author %}
{% for author in site.authors %}
{% if author.github == page.author.github %}
{% assign authorName = author.title %}
{% break %}
{% endif %}
{% endfor %}

<div class="post-author-info">
  <a href="/authors/{{page.author.github}}">
    <img class="portrait" src="{{site.base_url}}/images/profile/{{page.author.github}}.jpg" /></a>
  <h1 class="post-title">{{page.title}}</h1>
  <span class="post-date">{{ page.date | date: "%Y년 %m월 %d일" }}</span>
  <span class="sep">by</span>
  <span class="author-name"><a href="/authors/{{page.author.github}}">{{authorName}}</a></span>
</div>
{% endif %}

{% if page.publish == false %}
<div class="post">Coming soon</div>
{% else %}
<div class="post">{{ content }}</div>
<div class="post sns-like">
  <div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-layout="standard" data-action="like" data-show-faces="true"
       data-share="true"></div>
</div>
{% endif %}
<div class="post-footer">
  <!--<div class="back-btn"><a href="/">목록으로 돌아가기</a></div>-->
  <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-num-posts="5" data-width="100%"></div>
  <div id="fb-root"></div>
</div>
